/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Permanent+Marker&display=swap');

/* CSS Variables */
:root {
--primary-font: "permanent marker", sans-serif;
--secondary-font: "cause", sans-serif;
--primary-color-dark: rgb(2, 122, 60);
--primary-color-light: rgb(173, 235, 203);
--secondary-color: rgb(206,43,55);
--tertiary-color: rgb(131, 114, 114);
}

/* Global styles */
body {
    background-color: var(--primary-color-light);
}

h1 {
    color: var(--primary-color-dark);
    font-family: var(--primary-font);
     font-size: 10vw;
}

h2{
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

h3 {
    color: var(--primary-color-dark);
    font-family: var(--secondary-font);
}

/* Navigation */
.navbar {
   background-color: var(--primary-color-light);
   padding: 0.1rem;
}

#logo {
    width: 70%;
    height: auto;
    max-width: 100px;
    border-radius: 50px;
}
    

.navbar-nav {
    gap: 1vh;
}

.nav-link {
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    font-family: var(--secondary-font);
}

.nav-link:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Header */
.hero {
    background-image: url("../images/hero-img.jpg");
    height: 100vh;
    width: auto;   
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-bottom: 3rem;
    z-index: 1;
}

.brand-name {
   
    padding-top: 30vh;
    font-weight: 500;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 var(--primary-color-light);
    margin-bottom: 10vh;
}

 .italy{
        width: 20%;
        height: auto;
        max-width: 150px;
        display: block;
        margin: auto;
 }

/* Main section */
    /* Introduction */    
.intro {
    background-color: white;
    margin-bottom: 3rem;
    border-radius: 30px;
    padding-bottom: 2rem;
}    
.intro-title {
    margin-bottom: 2.4rem;
}

.intro-text {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2;
    font-family: var(--secondary-font);
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.intro-img {
    width: 100%;
    height: auto;
    padding: 0px 30px;
    border-radius: 75px;
    margin-bottom: 30px;
}

.intro-info {
    text-align: center;
}

.call-now {
    padding-top: 20px;
}

.intro-info p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-head {
    background-color: var(--primary-color-light);
}

    /* Services cards*/
.services {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.card {
    margin-bottom: 3rem;
    border-radius: 30px;
}

.menu-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.reservation-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}    


.card-img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.btn {
    background-color: var(--secondary-color);
    color: white;
}

/* Gallery */
    /* Gallery carousel for small devices <768px*/
.gallery-carousel {
    background-color: white;
    border-radius: 30px;
}

.carousel-img {
    height: auto;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 3rem;
}

#gallery-md {
    display: none;
}

    /* Gallery expended for devices >768px*/
.gallery-md {
    background-color: white;
    border-radius: 30px;   
    padding-bottom: 3rem; 
}
.gallery-title {
    text-align: center;
    margin-bottom: 2.4rem;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 3rem;
}

   
/* Footer */
#footer {
    background-color: white;
    border-radius: 30px;
    line-height: 2.5;
    text-align: center;
}

.fa-instagram {
    height: 50px;
    width: auto;
    color: var(--secondary-color);
    padding-top: 1rem;
}

.fa-square-facebook {
    height: 50px;
    width: auto;
    margin-left: 30px;
    padding-top: 1rem;
}


/* Reservation page */
.booking-title {
    padding-top: 100px;
    margin-bottom: 1rem;
}

.booking-form {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
}

.booking-submit {
    margin-top: 3rem;
}

/* Success page */
.success-message {
    background-color: white;
    margin-top: 6rem;
    border-radius: 30px;
}

.success-message h1 {
    display: none;
}

.success-logo {
    width: 16vw;
    height: auto;
}

.success-text {
    font-family: var(--secondary-font);
    font-size: 1.7rem;
}

.tick-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.5rem;
}

.tick {
    color: var(--primary-color-dark);
    width: 6vw;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.return {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    text-decoration: underline;
    letter-spacing: 0.2rem;
}

/* Menu page */
#menu-logo {
    width: 175px;
    height: auto;
    margin: 40px auto;

}
.menu-title {
    text-align: center;
}

.th1 {
    width: 79%;
}

.th2 {
    width: 7%;
}

.th3 {
    width: 7%;
}

.th4 {
    width: 7%;
}

.pizza-menu {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px;  
    background-color: white;
    border-radius: 30px;
}
    
.pizza-menu h1 {
    font-size: 8vh;
}

.pizza-menu h2 {
    padding: 50px;
    text-align: center;
    font-size: 6vh;
}

.table {
    max-width: 90%;
    margin: auto;
}

.ingredients {
    font-style: italic;
    font-weight: normal;
}

.deserts-menu {
    margin-bottom: 50px;
    border-radius: 30px;
}

.drinks-menu {
    margin-bottom: 50px;
    border-radius: 30px
}

/* Media queries */

@media screen and (min-width: 768px) {
    .gallery-carousel {
        display: none;
    }

    #gallery-md {
        display: block;
    }

    #menu-logo {
    width: 225px;
 }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7vw;
    }

    #menu-logo {
    width: 275px;
 }
}
 

